body{
    background: #f7f7ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
}

#title, .subtitle, .post_title{
    color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    color: #505050;
}

.photo{
    border-radius: 50%;
    border: 2px solid #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border-top: 4px solid #505050;
    border-right: 4px dashed pink;
    border-bottom: 4px solid purple;
    border-left: 4px dotted cyan;
    margin: 10px;
    border-radius: 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{
    text-decoration: none;
}